doctype
html
    head
        title File Upload System 2016
        link(rel="stylesheet" href="/lib/bootstrap-3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/dimensions.css")
    body
        header.nav.navbar-inverse
            .container
                .navbar-header
                    a.navbar-brand(href="/") File Upload System 2016
                .navbar-collapse.collapse
                    ul(class='text-uppercase').nav.navbar-nav.navbar-left
                        li: a(href="/") Home
                        li: a(href='/upload') Upload
                        if(currentUser)
                            li: a(href='/profile') My Profile
                    ul.nav.navbar-nav.navbar-right
                        if(currentUser)
                            li
                                a(href='javascript:void(0);') Hello,
                                   span(class='text-uppercase') #{currentUser.username}
                            li: a(href='/logout') Logout
                        else
                            li: a(href="/register") Register
                            li: a(href="/login") Login

        .container
            if(errorMessage)
                br
                .alert.alert-danger= errorMessage

            block main-content


        footer
            p.text-center
                | &copy; File Upload System 2016

    include scripts