extends ../shared/layout

block main-content
    h1 Register user
    hr
    form(method='post')
        label(for='username') Username
        input(type='text', name='username', id='username', placeholder='Username', class='form-control')

        br
        label(for='password') Password
        input(type='password', name='password', id='password', placeholder='Password', class='form-control')

        br
        label(for='confirmPassword') Confirm password
        input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm password', class='form-control')

        br
        input(type='submit', value='Register user').btn.btn-primary
