<h2>Update Album</h2>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Title" id="tb-title" value="{{Title}}" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="ReleaseDate" id="tb-releasedate" value="{{ReleaseDate}}" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Producer" id="tb-producer" value="{{Producer}}" />
</div>
<span class="pointer btn btn-primary" id="btn-update-album">Update Album</span>