<h2>Add Album</h2>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Title" id="tb-title" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="ReleaseDate" id="tb-releasedate" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Producer" id="tb-producer" />
</div>
<span class="pointer btn btn-primary" id="btn-add-album">Add Album</span>