<h2>Edit Artist</h2>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Name" id="tb-name" value="{{Name}}" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Country" id="tb-country" value="{{Country}}" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Birthdate" id="tb-birthdate" value="{{BirthDate}}" />
</div>
<span class="pointer btn btn-primary" id="btn-update-artist">Update Artist</span>