<h2>Add Artist</h2>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Name" id="tb-name" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Country" id="tb-country" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Birthdate" id="tb-birthdate" />
</div>
<span class="pointer btn btn-primary" id="btn-add-artist">Add Artist</span>