body {
    background: #FFF;
    color: #000;
    font-size: 1em;
}

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

h1 a {
    color: #000;
    text-decoration: none;
}

table {
    border: 1px solid #000;
    border-spacing: 0 0;
}
    table td, table th {
        border: 1px solid #000;
    }