@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forum</title>
</head>
<body>
    <div>
        <h1>Forums</h1>
        <a href="/">Back</a>
    </div>
</body>
</html>
