USE [master]
GO
/****** Object:  Database [Dictionary]    Script Date: 10/6/2015 12:30:54 AM ******/
CREATE DATABASE [Dictionary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dictionary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Dictionary.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Dictionary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Dictionary_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dictionary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dictionary]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 10/6/2015 12:30:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Words]    Script Date: 10/6/2015 12:30:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Text] [ntext] NOT NULL,
	[FK_LanguageId] [int] NOT NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WordsToSynonyms]    Script Date: 10/6/2015 12:30:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordsToSynonyms](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FK_WordId] [bigint] NOT NULL,
	[FK_SynonymId] [bigint] NOT NULL,
 CONSTRAINT [PK_WordsToSynonyms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WordsToTranslations]    Script Date: 10/6/2015 12:30:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordsToTranslations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FK_WordId] [bigint] NOT NULL,
	[FK_TranslationId] [bigint] NOT NULL,
 CONSTRAINT [PK_WordsToTranslations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Languages] FOREIGN KEY([FK_LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Languages]
GO
ALTER TABLE [dbo].[WordsToSynonyms]  WITH CHECK ADD  CONSTRAINT [FK_WordsToSynonyms_Synonym] FOREIGN KEY([FK_SynonymId])
REFERENCES [dbo].[Words] ([Id])
GO
ALTER TABLE [dbo].[WordsToSynonyms] CHECK CONSTRAINT [FK_WordsToSynonyms_Synonym]
GO
ALTER TABLE [dbo].[WordsToSynonyms]  WITH CHECK ADD  CONSTRAINT [FK_WordsToSynonyms_Words] FOREIGN KEY([FK_WordId])
REFERENCES [dbo].[Words] ([Id])
GO
ALTER TABLE [dbo].[WordsToSynonyms] CHECK CONSTRAINT [FK_WordsToSynonyms_Words]
GO
ALTER TABLE [dbo].[WordsToTranslations]  WITH CHECK ADD  CONSTRAINT [FK_WordsToTranslations_Translation] FOREIGN KEY([FK_TranslationId])
REFERENCES [dbo].[Words] ([Id])
GO
ALTER TABLE [dbo].[WordsToTranslations] CHECK CONSTRAINT [FK_WordsToTranslations_Translation]
GO
ALTER TABLE [dbo].[WordsToTranslations]  WITH CHECK ADD  CONSTRAINT [FK_WordsToTranslations_Words] FOREIGN KEY([FK_WordId])
REFERENCES [dbo].[Words] ([Id])
GO
ALTER TABLE [dbo].[WordsToTranslations] CHECK CONSTRAINT [FK_WordsToTranslations_Words]
GO
USE [master]
GO
